<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Limetime.Фото</title>
    <link href="~/layout/winstrap.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/layout/site.css" rel="stylesheet" asp-append-version="true" />

    <link rel="icon" type="image/png" sizes="16x16" href="https://259506.selcdn.ru/sites-static/site609131/87b9707f-efeb-4d0f-bf9c-e3d7a364058b/87b9707f-efeb-4d0f-bf9c-e3d7a364058b-1846117.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="https://259506.selcdn.ru/sites-static/site609131/87b9707f-efeb-4d0f-bf9c-e3d7a364058b/87b9707f-efeb-4d0f-bf9c-e3d7a364058b-1846118.png"/>
    <link rel="icon" type="image/png" sizes="120x120" href="https://259506.selcdn.ru/sites-static/site609131/87b9707f-efeb-4d0f-bf9c-e3d7a364058b/87b9707f-efeb-4d0f-bf9c-e3d7a364058b-1846119.png"/>
    <link rel="apple-touch-icon" type="image/png" sizes="120x120" href="https://259506.selcdn.ru/sites-static/site609131/87b9707f-efeb-4d0f-bf9c-e3d7a364058b/87b9707f-efeb-4d0f-bf9c-e3d7a364058b-1846119.png"/>
    <link rel="icon" type="image/png" sizes="180x180" href="https://259506.selcdn.ru/sites-static/site609131/87b9707f-efeb-4d0f-bf9c-e3d7a364058b/87b9707f-efeb-4d0f-bf9c-e3d7a364058b-1846120.png"/>
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="https://259506.selcdn.ru/sites-static/site609131/87b9707f-efeb-4d0f-bf9c-e3d7a364058b/87b9707f-efeb-4d0f-bf9c-e3d7a364058b-1846120.png"/>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container"> 
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="icon-hamburger"></i>
                </button>

                <a href="#" class="navbar-brand" style="display: flex; align-items: center;gap: 12px;">
                    <img style="height:50px" src="https://259506.selcdn.ru/sites-static/site609131/87b9707f-efeb-4d0f-bf9c-e3d7a364058b/87b9707f-efeb-4d0f-bf9c-e3d7a364058b-1846119.png" />
                    Фотограф
                </a>

            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <p class="navbar-text">
                        @RenderSection("TextNextToBrand", false)
                    </p>

                    @RenderSection("PrimaryMenu", false)


                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (this.ViewBag.Photographer != null)
                    {
                        <div class="navbar-text ">@this.ViewBag.Photographer.DisplayName</div>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
